.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #282c34;
}

nav {
    width: 80%;
}

ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

li {
    list-style: none;
}

li a {
    text-decoration: none;
    color: white;
}

li a:hover {
    color:cyan;
}

@media (min-width: 1200px) {


    .header {
        max-height: 80px;
        flex-direction: row;
    }
  .logo {
    width:27%;
    text-align: start;
}

.heading{
    width:27%;
    display: flex;
}

nav {
    width: 27%;
}
}
