.App {
  text-align: center;
  background-color: lightgrey;
  height: 100vh;
}

.App .inputContainer {
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  justify-content: center;
  align-items: center;
}

.inputWrapper {
  display: flex;
  width: 72%;
  justify-content: space-between;
}
